.text-ptsans {
  font-family: "PT Sans", sans-serif;
}

.text-prototype {
  font-family: "Prototype", arial;
}

.banner {
  height: 50vh;
}

.slick-prev {
  position: absolute !important;
  top: 110% !important;
  left: 45% !important;
  z-index: 999;
}

.slick-next {
  position: absolute !important;
  top: 110% !important;
  right: 50% !important;
  z-index: 999;
}

.slick-dots {
  position: absolute;
  top: -25%;
  color: blueviolet !important;
}
